<h2>Editar o perfil de <%= current_user.username %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Aguardando confirmação de email para: <%= resource.unconfirmed_email %></p>
    <% end %>

    <% ['avatar_1.png', 'avatar_2.png', 'avatar_3.png', 'avatar_4.png', 'avatar_5.png', 'avatar_6.png', 'avatar_7.png', 'avatar_8.png'].each do |img| %>
      <label style="display:inline-block; margin-right:10px;">
        <%= f.radio_button :avatar, img %><br>
        <%= image_tag("#{img}", size: "80x80") %>
      </label>
    <% end %>

    <%= f.input :password,
                hint: "deixe este campo em branco caso não deseje alterar sua senha",
                required: false,
                label: "Nova senha",
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                label: "Confirmar nova senha",
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "precisamos da sua senha atual para confirmar suas mudanças",
                required: true,
                label: "Senha atual",
                input_html: { autocomplete: "current-password" } %>

  </div>


  <div class="form-actions">
    <%= f.button :submit, "Atualizar" %>
  </div>
<% end %>

<div><%= button_to "Cancelar minha conta", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Voltar", :back %>
