<!-- TODO: Add pg search support -->
<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: tasks_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Procure por uma tarefa..."
        %>
      <%= submit_tag "Buscar", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-8">
    <div id="movies">
      <% if @tasks.any? %>
        <% @tasks.each do |task| %>
          <%= render "shared/list_card", task: task %>
        <% end %>
      <% else %>
        <em>Não há tarefas.</em>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Voltar", root_path %>
<%= link_to "Limpar busca", tasks_path if params[:query].present? %>

<div data-controller="toggle">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">Criar nova tarefa</button>

  <div data-toggle-target="togglableElement" class="d-none mt-2">
    <%= render "shared/form", task: @task %>
  </div>
</div>
