<%# Header %>
<h2><%= @list.name %></h2>

<%# Search %>
<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: list_tasks_path(@list), method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Procure por uma tarefa..."
        %>
      <%= submit_tag "Buscar", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%# Tasks %>
<div class="row justify-content-center">
  <div class="col-sm-8">
    <% if @tasks.any? %>
      <ol data-controller="sortable">
        <% @tasks.each do |task| %>
          <li data-id="<%= task.id %>">
            <%= render "shared/list_card", task: task %>
          </li>
        <% end %>
      </ol>
    <% else %>
      <em>Não há tarefas.</em>
    <% end %>
  </div>
</div>


<%# Links %>
<%= link_to "Voltar", lists_path %>
<%= link_to "Limpar busca", list_tasks_path if params[:query].present? %>

<div data-controller="toggle">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">Criar nova tarefa</button>

  <div data-toggle-target="togglableElement" class="d-none mt-2">
    <%= render "shared/form", list: @list, task: @task %>
  </div>
</div>
