<div class="navbar navbar-expand-sm navbar-light navbar-main border-bottom border-primary mb-5">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%# TODO: change image %>
      <%= image_tag "https://static.vecteezy.com/system/resources/thumbnails/007/126/840/small_2x/mountain-peak-flag-icon-vector.jpg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" unless current_page?(root_path)%>
          </li>
          <li class="nav-item">
            <%= link_to "Minhas tarefas", tasks_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%# TODO: change image, put a placeholder and implement default photos for user %>
            <%= image_tag "https://png.pngtree.com/png-clipart/20210915/ourmid/pngtree-user-avatar-placeholder-black-png-image_3918427.jpg", class: "avatar", alt: "dropdown menu" %>
          </a>
            <%# TODO: change links %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Tarefas concluídas", done_path, class: "dropdown-item" %>
              <%= link_to "Editar perfil", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
